
/* Properly done stuff follows... */

#citekit-sources {
		display: none;
}

blockquote.cite-coll p, blockquote.cite-cts p, blockquote.cite-img p {
	font-style: normal;
	line-height: 1.2em;
}

blockquote.cite-coll, blockquote.cite-cts, blockquote.cite-img {
	border: 1px solid #eee;
	display: inline-block;
	padding: 0.5em;
	margin: 0;
}

div.citekit-compare {
		clear: both;
		height: auto;
		overflow: auto;
}

div.citekit-compare > p, div.citekit-compare > blockquote {
		min-width: 30%;
}

div.citekit-compare > blockquote {
		float:left;
		overflow: auto;
}

div.citekit-compare > blockquote {
		display: block;
}

